@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../../data/fonts/MyriadPro-Regular.ttf");
    font-family: "Sniglet-Regular";
    src: url("../../data/fonts/Sniglet-Regular.ttf");
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main {
    margin-top: 20px;
    position: relative;
    z-index: 3;
    background-color: #fff;
    opacity: 0.8;
    box-shadow: 2px 5px 5px #fff;
    border-radius: 10px;
}

.logo {
    width: 30%;
    margin-right: 100px;
    padding-left: 20px;
}

.icon {
    width: 25px;
}

.item {
    font-family: "MyriadPro-Regular";
    font-size: 20px;
    color: #7f8c8d;
    padding: 5px 10px;
    text-decoration: none;
}

.item:hover {
    text-decoration: none;
}

.basket {
    padding: 5px 20px 5px 10px;
}

.active {
    color: #000;
    font-weight: bold;
}

.header-basket {
    position: relative;
    display: inline-flex;
}

.basket-counter {
    position: absolute;
    right: 13px;
    bottom: 7px;
    line-height: 12px;
    color: #44bd32;
    background-color: #fff;
    width: fit-content;
    cursor: none;
    font-family: "Sniglet-Regular";
}

