@font-face {
    font-family: "Helvetica";
    src: url("../../data/fonts/Helvetica.ttf");
}

.add-button-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-button {
    padding: 8px;
    font-family: "Helvetica";
    font-size: 16px;
    color: #fff;
    background-color: #44bd32;
    width: fit-content;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.add-button-disabled {
    padding: 8px;
    font-family: "Helvetica";
    font-size: 16px;
    color: #fff;
    background-color: #95a5a6;
    width: fit-content;
    border: none;
    border-radius: 10px;
    cursor: progress;
    outline: none;
}

.add-button:active {
    background-color: #27ae60;
    outline: none;
}
