.basket-main {
    font-family: "Helvetica";
    min-height: 897px;
    width: 90vw;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
}

.basket-items {
    max-height: 1200px;
    overflow-y: auto;
}

.basket-name {
    font-size: 30px;
    text-align: left;
}

.basket-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 24px;
}
