.box-list-main {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: flex-end;
}

.box-list {
    padding-bottom: 10px;
}

.box {
    text-decoration: none;
    color: #000;
}
