.box-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-list-main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    height: 850px;
    justify-content: flex-end;
    overflow-y: auto;
}

.box-list {
    padding-bottom: 10px;
}

.box {
    text-decoration: none;
    color: #000;
}

.box:hover {
    text-decoration: none;
    color: #000;
}
