.footer-main {
    display: flex;
    max-width: 1350px;
    width: 100%;
    justify-content: space-between;
    font-family: "Helvetica";
    align-items: center;
    margin: 1470px 0 50px;
}

.author {
    font-size: 15px;
    color: #b2bec3;
}

.footer-item {
    font-family: "RobotoMono-Medium";
    color: #95a5a6;
    padding: 0 10px;
}

.active-footer {
    color: #fff;
}

.footer-item:hover {
    text-decoration: none;
}
