.checkbox-main {
    display: flex;
    flex-direction: column;
    padding-top: 37px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.checkbox-input {
    cursor: pointer;
}

.checkbox-logo {
    padding: 5px 0 0 10px;
    cursor: pointer;
}
