.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 1.5rem !important;
    margin: 0 !important;
}

button {
    outline: none !important;
}

@media (min-width: 1200px) {
    .container {
         max-width: 1550px !important;
    }
}


