.basket-container {
    padding: 15px 0;
    border-bottom: solid 1px #718093;

}

.basket-image {
    width: 100px;
    height: 120px;
    margin-bottom: 15px;
}

.basket-image-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}

.basket-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 160px;
}

.basket-delete-row {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}

.basket-delete-button {
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: -30px 6vw 0 0;
    outline: none;
    color: #fff;
    background-color: #c23616;
    border: none;
}

.basket-delete-button:active {
    background-color: #e74c3c;
}
