.basket-container {
    position: relative;
    padding: 5px 0;
    border-bottom: solid 1px #718093;
}

.basket-image {
    width: 100px;
    height: 120px;
    margin-bottom: 15px;
}

.basket-image-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: inherit;
}

.basket-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 160px;
}

.basket-delete-button {
    position: absolute;
    bottom: 20px;
    right: 104px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #c23616;
    border: none;
}

.basket-delete-button:active {
    background-color: #e74c3c;
}
